{
    "home": "{{ scape_home }}",
    "bin": "{{ scape_bin }}",
    "shared_fs_path": "{{ scape_shared_fs_path }}", 
    "data_path": "{{ scape_data_path }}", 
    "local_data_path": "{{ scape_local_data_path }}",

    "maxmind_path": "{{ geoip2_db_path }}",

    "cron_path": "{{ scape_cron_path }}", 

    "accumulo": {
        "instance": "{{ scape_accumulo_instance }}", 
        "password": "{{ scape_accumulo_password }}", 
        "proxy": {
            "host": "{{ scape_accumulo_proxy_host }}", 
            "password": "{{ scape_accumulo_password }}", 
            "port": "{{ scape_accumulo_proxy_port }}", 
            "user": "{{ scape_accumulo_user }}"
        }, 
        "table": {
            "shards": {{ scape_table_shards }},
        }, 
        "user": "{{ scape_accumulo_user }}", 
        "zookeepers": "{{ scape_accumulo_zookeepers }}"
    },

    "user_home": "{{ scape_user_home }}",

    "log_format": "{{ scape_log_format }}", 
    "log_level": "{{ scape_log_level }}", 
    "platform_log_base_dir": "{{ scape_log_path }}", 

    "registry": {
        "event_collections": "{{ scape_event_collections_table }}", 
        "paths": "{{ scape_registry_paths }}", 
        "table": "{{ scape_registry_table }}", 
        "time_events": "{{ scape_registry_time_events }}"
    }, 

    "foo": {
        "baseurl": "https://{{ scape_foo_head }}:8089", 
        "host": "{{ scape_foo_head }}", 
        "password": "{{ scape_foo_password }}", 
        "ssh": "{{ scape_foo_user }}@{{ scape_foo_head }}", 
        "time_index": "{{ scape_foo_time_index }}", 
        "username": "{{ scape_foo_user }}"
    }, 

    "foo_transport": {
        "default_interval_minutes": {{ scape_foo_interval_minutes }}, 
        "host": "{{ scape_foo_cron_head }}", 
        "inbox": "{{ scape_foo_inbox_path }}", 
        "mapreduce": "{{ scape_foo_mapreduce_path }}", 
        "password": "{{ scape_foo_password }}", 
        "processing": "{{ scape_foo_processing_path }}", 
        "processors": {{ scape_foo_transport_processors }}, 
        "times_path": "{{ scape_cron_path }}/times.json", 
        "username": "{{ scape_foo_user }}"
    }, 

    "ingest": {
        "processors": {{ scape_ingest_processors }},
        "processing": "{{ scape_foo_processing_path }}",
        "inbox": "{{ scape_foo_inbox_path }}",
        "do_aggregate": {{ scape_ingest_do_aggregate }},
        },

    "user_log_base_dir": "{{ scape_user_log_path }}"
}
