[program:elasticsearch]
command={{ elasticsearch_supervisor_command }}
user={{elasticsearch_user}}
autostart=true
autorestart=true
startsecs=25
startretries=999
stdout_logfile={{elasticsearch_supervisor_log_dir}}/elasticsearch.out
redirect_stderr=true
stdout_logfile_maxbytes=20MB
stdout_logfile_backups=10
